/*Desktop first*/

@media(min-width: 1171px){
	
}
@media(max-width: 1170px){
	div.container{
		width: 992px;
	}
}
@media(max-width: 992px){
	div.container{
		width: 720px;
	}
	section#masthead{
		height: 600px;
	}
	nav.header div.half-side ul li a{
		font-size: 12px;
	}
	div.content-wrap{
		margin: 75px auto;
	}
	section#masthead div.content-wrap h1{
		font-size: 40px;
	}
	section#masthead div.content-wrap div.masthead-text-wrap p{
		font-size: 18px;
	}
	section#works{
		height: 500px;
	}
	section#works div.fw-container div.img-wrapper{
		height: 220px;
	}

	.img-wrapper p{
		position: absolute;
		top: 88px;
		left: 63px;
		display: none;
		line-height: 1.4;
		font-size: 12px;
}
}
@media(max-width: 768px){
	div.container{
		width: 320px;
	}
}
@media(max-width: 320px){
	
}

/*Mobile first is the opposite direction to Desktop first*/