@font-face {
  font-family: "Raleway";
  src: url "../fonts/Raleway-Regular.ttf" format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "Opensans";
  src: url "../fonts/OpenSans-Regular.ttf" format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "Cardo";
  src: url "../fonts/Cardo-Regular.ttf" format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
