* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white; }

div.container {
  width: 1170px;
  height: auto;
  margin: 0 auto; }

div.half-side {
  float: left;
  width: 50%; }

button {
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 46px;
  line-height: 46px;
  background-color: #e84545;
  border-radius: 2px; }

nav.header {
  line-height: 100px;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  nav.header div.half-side ul {
    display: flex;
    justify-content: space-between; }
    nav.header div.half-side ul li a {
      text-transform: uppercase; }

section#masthead {
  background-image: url(../img/masthead-bg.png);
  background-size: 100% 100%;
  height: 750px; }
  section#masthead div.content-wrap {
    text-align: center;
    margin: 155px auto; }
    section#masthead div.content-wrap h1 {
      text-transform: uppercase;
      text-align: center;
      font-family: OpenSans;
      font-size: 65px;
      font-weight: bold;
      line-height: 1.09; }
  section#masthead div.masthead-text-wrap {
    margin-top: 40px;
    text-align: center; }
    section#masthead div.masthead-text-wrap p {
      width: 80%;
      margin: 0 auto;
      font-family: Raleway;
      font-size: 22px;
      line-height: 1.5;
      text-align: center; }
  section#masthead button {
    margin-top: 80px; }

section#features {
  height: 690px; }
  section#features div.container div.feuturesWrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap; }
    section#features div.container div.feuturesWrap div.feature-item {
      display: inline-block;
      text-align: center;
      width: 33%; }
      section#features div.container div.feuturesWrap div.feature-item img {
        margin-top: 80px; }
      section#features div.container div.feuturesWrap div.feature-item h2, section#features div.container div.feuturesWrap div.feature-item p {
        color: black; }
      section#features div.container div.feuturesWrap div.feature-item h2 {
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 14px;
        font-weight: bold;
        margin-top: 35px; }
      section#features div.container div.feuturesWrap div.feature-item p {
        font-family: Raleway;
        font-size: 13px;
        line-height: 1.5;
        margin-top: 25px; }

section#works {
  height: 700px; }
  section#works div.fw-container {
    width: 100%;
    text-align: center; }
    section#works div.fw-container div.img-wrapper {
      display: inline-block;
      width: 24.5%;
      height: 350px;
      position: relative; }
      section#works div.fw-container div.img-wrapper img {
        width: 100%;
        height: 100%; }
      section#works div.fw-container div.img-wrapper:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #d34040;
        opacity: 0; }
      section#works div.fw-container div.img-wrapper p {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -5%;
        display: none;
        line-height: 1.7;
        color: red; }
      section#works div.fw-container div.img-wrapper span.project-name {
        font-family: Raleway;
        text-transform: uppercase;
        font-weight: bold; }
      section#works div.fw-container div.img-wrapper:hover:before {
        opacity: .65;
        z-index: 1; }
      section#works div.fw-container div.img-wrapper:hover p {
        display: block;
        z-index: 2; }
