*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;

}

h2{
	text-align: center;
	font-size: 45px;
	margin: 10px;
	color: rgba(255,255,255, .85);
}

div#clock, div#timer{
	text-align: center;
	background: linear-gradient(#02053d, #3c3e5e);
	height: 50vh;
}
div#timer{
	background: linear-gradient(#3c3e5e, #02053d);
}

div.clockWrapper{
	width: 100%;
	display: block;
	padding: 0px;
	line-height: 1;
}

div span{
	font-size: 320px;
	color: orange;
}

span[id^="minutes"]:before, span[id^="minutes"]:after{
	content: ":";
}

button{
	width: 350px;
	height: 70px;
	background-color: black;
	margin: 0px 40px;
	color: rgba(255,255,255, .85);
	font-size: 30px;
	transition: all .5s;
	border: 3px solid gray;
}

button:hover{
	cursor: pointer;
}

button:disabled{
	background-color: gray;
	color: black;
	border-radius: 30px;
	border: 3px solid black;
}