/*Fonts implementation*/
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'HelveticaNeueMedium';
	src: url('../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'HelveticaNeueThin';
	src: url('../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/*General styles*/
* {
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 32px;
	text-decoration: none;
	border: none;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

p,
div,
span,
button,
input,
label,
a {
	line-height: 1.5;
	font-family: HelveticaNeue, sans-serif;
}

a {
	display: inline-block;
}

/*Logical blocks*/
.leftBlock,
.rightBlock {
	display: inline-block;
	background-repeat: no-repeat;
}

.leftBlock {
	background-image: url('../assets/img/left_bg.png');
	width: 70%;
	z-index: 1;
	background-position: center center;
}

.rightBlock {
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../assets/img/right_bg.png');
	width: 55%;
	z-index: 2;
}

.contentWrap {
	height: auto;
}

.leftBlock .contentWrap {
	width: 80%;
	margin-right: 25%;
}

.logoWrap {
	line-height: 55px;
	margin-bottom: 80px;
}

.logoWrap img {
	height: 55px;
}

.logoWrap span {
	line-height: 55px;
	font-size: 50px;
}

.logoWrap,
.helpWrap {
	text-align: center;
}

.helpButtonsWrap {
	margin-top: 40px;
}

.helpButtonsWrap span {
	margin-left: 22px;
	margin-right: 22px;
}

.rightBlock .contentWrap {
	padding-left: 100px;
	width: 55%;
}

.rightBlock .contentWrap .loginState {
	position: relative;
}

.rightBlock .contentWrap .loginState .loader {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.15);
	z-index: 999;
}

.rightBlock .contentWrap .loginState .loader .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rightBlock .contentWrap .loginState .welcome {
	margin-bottom: 40px;
	margin-top: 150px;
}

.rightBlock .contentWrap .loginState .welcome p.nth-first-child {
	line-height: 0.9;
	margin-bottom: 20px;
}

.rightBlock .contentWrap .loginState .formWrap .inputBlock {
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

.rightBlock .contentWrap .loginState .formWrap .inputBlock .bubble {
	position: absolute;
	top: 25px;
	right: -190px;
	width: 170px;
	min-height: 60px;
	font-size: 16px;
	line-height: 25px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	text-align: center;
}

.rightBlock .contentWrap .loginState .formWrap .inputBlock .bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 10px;
	right: 164.5px;
	border: 5px solid;
	transform: rotate(-45deg);
	border-color: #fff transparent transparent #fff;
	z-index: 2;
}

.rightBlock .contentWrap .resetPasswordState .backPW {
	margin-top: 80px;
	margin-bottom: 100px;
}

.rightBlock .contentWrap .resetPasswordState .fs-title {
	margin-bottom: 40px;
}

.rightBlock .contentWrap .resetPasswordState input[type='submit'] {
	margin-top: 60px;
}

.rightBlock .contentWrap .accessGrantedState {
	margin-top: 180px;
}

.rightBlock .contentWrap .accessGrantedState .welcome,
.rightBlock .contentWrap .accessGrantedState span,
.rightBlock .contentWrap .accessGrantedState p {
	text-align: center;
}

.rightBlock .contentWrap .accessGrantedState .projectList {
	max-height: 500px;
	overflow-y: scroll;
}

.rightBlock .contentWrap .accessGrantedState .projectList ul li {
	background-color: transparent;
	list-style: none;
	line-height: 120px;
	border-bottom: 1px solid #616983;
	text-align: center;
	cursor: pointer;
}

.rightBlock .contentWrap .accessGrantedState .projectList ul li:hover {
	color: #fff;
}

/*Buttons (all kinds)*/
button,
input[type='submit'],
.btn {
	text-transform: uppercase;
	font-family: HelveticaNeueBold, sans-serif;
	font-size: 24px;
	border-radius: 5px;
	transition: all, 0.5s;
	cursor: pointer;
}

button#backPW {
	background-color: transparent;
}

.btn {
	height: 70px;
	line-height: 50px;
	background-color: #7e93d3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

input[type='submit'] {
	height: 95px;
	margin-bottom: 40px;
	background-image: linear-gradient(to right, #127ef9, #54c3fe);
}

/*Text inputs*/
input {
	display: block;
}

input[type='password'],
input[type='text'],
input[type='email'] {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #616983;
	line-height: 3;
}

input::placeholder {
	font-family: HelveticaNeueMedium, sans-serif;
	color: #616983;
}

input {
	color: #fff;
}

/*Text styles*/
.fc-light {
	color: #fff;
}

.fc-dark {
	color: #616983;
}

.fc-tech {
	color: rgba(255, 255, 255, 0.42);
}

.fs-button-bigger {
	font-size: 26px;
}

.fs-title {
	font-size: 56px;
}

.fs-text-smaller {
	font-size: 28px;
}

.ff-thin {
	font-family: HelveticaNeueThin, sans-serif;
}

/*Utility*/
.dNone {
	display: none;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.w-100 {
	width: 100%;
}

.w-100scr {
	width: 100vw;
}

.h-100 {
	height: 100%;
}

.h-100scr {
	height: 100vh;
}

.flex {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}

/*Validation*/
.valid {
	border-bottom: 1px solid #54c3fe !important;
}

.invalid {
	border-bottom: 1px solid red !important;
}
