@keyframes body-bgc-change{
	from{background-color: rgb(192,192,192);}
	to{background-color: rgb(108,108,108);}
}


@keyframes justify-content-animation{
	0%{justify-content:flex-start;}
	20%{justify-content: center;}
	40%{justify-content: space-between;}
	60%{justify-content: space-around;}
	80%, 100%{justify-content: flex-end;}
}
@keyframes h2-justify-content-animation{
	0%{content: "justify-content:flex-start";}
	20%{content: "justify-content: center";}
	40%{content: "justify-content: space-between";}
	60%{content: "justify-content: space-around";}
	80%, 100%{content: "justify-content: flex-end";}
}





@keyframes align-items-animation{
	0%{align-items:flex-start;}
	20%{align-items: center;}
	40%{align-items: baseline;}
	60%{align-items: stretch;}
	80%, 100%{align-items: flex-end;}
}
@keyframes h2-align-items-animation{
	0%{content: "align-items:flex-start";}
	20%{content: "align-items: center";}
	40%{content: "align-items: baseline";}
	60%{content: "align-items: stretch";}
	80%, 100%{content: "align-items: flex-end";}
}




@keyframes flex-direction-animation{
	0%{flex-direction: row;}
	25%{flex-direction: row-reverse;}
	50%{flex-direction: column;}
	75%, 100%{flex-direction: column-reverse;}
}

@keyframes h2-flex-direction-animation{
	0%{content: "flex-direction: row";}
	25%{content: "flex-direction: row-reverse";}
	50%{content: "flex-direction: column";}
	75%, 100%{content: "flex-direction: column-reverse";}
}




@keyframes width-before-wrap-animation{
	0% {width: .1%;}
	100% {width: 25%;}
}
@keyframes h2-width-before-wrap-animation{
	0% {content: "DIV width: 0.1%";}
	10% {content: "DIV width: 2.5%";}
	20% {content: "DIV width: 5%";}
	30% {content: "DIV width: 7.5%";}
	40% {content: "DIV width: 10%";}
	50% {content: "DIV width: 12.5%";}
	60% {content: "DIV width: 15%";}
	70% {content: "DIV width: 17.5%";}
	80% {content: "DIV width: 20%";}
	90% {content: "DIV width: 22.5%";}
	100% {content: "DIV width: 25%";}
}






@keyframes align-content-animation{
	0%{flex-wrap: wrap; align-content: flex-start;}
	16.6% {flex-wrap: wrap; align-content: space-between;}
	33.2%{flex-wrap: wrap; align-content: center;}
	50% {flex-wrap: wrap; align-content: space-around;}
	66.6% {flex-wrap: wrap; align-content: stretch;}
	85%, 100% {flex-wrap: wrap; align-content: flex-end;}
}
@keyframes h2-align-content-animation{
	0%{content: "align-content: flex-start";}
	16.6% {content: "align-content: space-between";}
	33.2%{content: "align-content: center";}
	50% {content: "align-content: space-around";}
	66.6% {content: "align-content: stretch"}
	85%, 100%  {content: "align-content: flex-end"}
}

@keyframes set-div-width{
	0%{width:25%;}
	100%{width:40%;}
}