*{
	margin: 0;
	padding: 0;

}

body{
	animation: body-bgc-change 10s infinite alternate;
}

p{
	margin: 10px auto;
}

section{
	display: flex;
	height: 33.3vh;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	margin: 10px auto;
	flex-wrap: nowrap;
}

section > div{
	width: 15%;
	height: 8.325vh;
	background-color: red;
	border: 3px dashed blue;
	border-size: border-box;
	line-height: 8.325vh;
	text-align: center;
	font-size: 3vh;
	overflow: hidden;
}

.half-screen{
	float: left;
	width: 49vw;
}

body>div:nth-of-type(2){
	float: right;
}

h2{
	display:block;
	text-align: center;
	font-size: 3vh;
	color: rgb(47,79,79);
}

h2:after{
	content: "";
	display: block;
	text-transform: uppercase;
	font-size: 3vh;
	color: blue;
}


section[class^=task]>div:nth-child(odd){
	height: 10vh;

}




section.task1{
	animation: justify-content-animation 8s infinite linear;
}

div.half-screen:nth-of-type(1) h2:nth-of-type(1):after{
	animation: h2-justify-content-animation 8s infinite linear;
}





section.task2{
	animation: align-items-animation 8s infinite linear;
}
div.half-screen:nth-of-type(1) h2:nth-of-type(2):after{
	animation: h2-align-items-animation 8s infinite linear;
}




section.task3{
	animation: flex-direction-animation 8s infinite linear;
}
div.half-screen:nth-of-type(1) h2:nth-of-type(3):after{
	animation: h2-flex-direction-animation 8s infinite linear;
}






section.task4 div{
	animation: width-before-wrap-animation 8s infinite steps(500);
}
div.half-screen:nth-of-type(2) h2:nth-of-type(1):after{
	animation: h2-width-before-wrap-animation 8s infinite linear;
}

section.task5{
	animation: align-content-animation 8s infinite linear;
}
div.half-screen:nth-of-type(2) h2:nth-of-type(2):after{
	animation: h2-align-content-animation 8s infinite linear;
}
section.task5 div{
	width: 33%;
}




section.task6{
	animation: justify-content-animation 8s 0s 1 linear,

			   align-items-animation 8s 8s 1 linear,
			   
			   flex-direction-animation 8s 16s 1 linear,

			   align-content-animation 8s 32s 1 linear forwards;
			   
}

div.half-screen:nth-of-type(2) h2:nth-of-type(3):after{
	animation: h2-justify-content-animation 8s 1 linear,
			   
			   h2-align-items-animation 8s 8s 1 linear,

			   h2-flex-direction-animation 8s 16s 1 linear,

			   h2-width-before-wrap-animation 8s 24s 1 linear,

			   h2-align-content-animation 8s 32s 1 linear forwards;
}

section.task6 > div{
	animation: width-before-wrap-animation 8s 24s 1 steps(500),
			   set-div-width 8s 32s 1 linear forwards;
}
  
			   