@media screen and (min-width: 1441px) {
  div.container {
    width: 1440px; }
  section#features {
    height: 850px; }
    section#features div.container div.feuturesWrap div.feature-item h2 {
      font-size: 22px; }
    section#features div.container div.feuturesWrap div.feature-item p {
      font-size: 20px; }
  section#works {
    height: 700px; }
    section#works div.fw-container div.img-wrapper {
      height: 450px; }
      section#works div.fw-container div.img-wrapper p, section#works div.fw-container div.img-wrapper h2 {
        font-size: 35px; } }
