@media screen and (max-width: 1170px) {
  div.container {
    width: 992px; }
  section#works {
    height: 520px; }
    section#works div.fw-container div.img-wrapper {
      height: 250px; }
  section#features {
    height: 690px; }
    section#features div.container div.feuturesWrap div.feature-item h2 {
      font-size: 14px; }
    section#features div.container div.feuturesWrap div.feature-item p {
      font-size: 13px; }
  section#works {
    height: 700px; }
    section#works div.fw-container div.img-wrapper {
      height: 350px; }
      section#works div.fw-container div.img-wrapper p, section#works div.fw-container div.img-wrapper h2 {
        font-size: 14px; } }
