*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	color: white;
}

div.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}

div.half-side{
	float: left;
	width: 50%;
}

button{
	text-transform: uppercase;
	text-align: center;
	width:200px;
	height: 46px;
	line-height: 46px;
	background-color: #e84545;
	border-radius: 2px;
}

nav.header{
	line-height: 100px;
	height: 100px;
	width: 100%;
	border-bottom: 2px solid rgba(255,255,255,.2);
}

nav.header div.half-side ul{
	display: flex;
	justify-content: space-between;
}

nav.header div.half-side ul li a{
	text-transform: uppercase;
}

section#masthead{
	background-image: url(../img/masthead-bg.png);
	background-size: 100% 100%;
	height: 750px;
}

div.content-wrap{
	text-align: center;
	margin: 155px auto;
}

section#masthead div.content-wrap h1{
	text-transform: uppercase;
	text-align: center;
	font-family: OpenSans;
	font-size: 65px;
	font-weight: bold;
	line-height: 1.09;
}

div.masthead-text-wrap{
	margin-top: 40px;
	text-align: center;
}

section#masthead div.content-wrap div.masthead-text-wrap p{
  width: 80%;
  margin: 0 auto;
  font-family: Raleway;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

section#masthead div.content-wrap button{
	margin-top: 80px;
}

section#features{
	height: 690px;
}

div.feuturesWrap{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}

div.feature-item{
	display: inline-block;
	text-align: center;
	width: 33%;
}

div.feature-item img{
	margin-top: 80px;
}


div.feature-item h2, div.feature-item p{
	color: black;
}	

div.feature-item h2{
	text-transform: uppercase;
	font-family: Raleway;
	font-size: 14px;
	font-weight: bold;
	margin-top: 35px;
}

div.feature-item p{
	font-family: Raleway;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	margin-top: 25px;
}

section#works{
	height: 700px;
}

div.fw-container{
	width: 98%;
	text-align: center;
}

section#works div.fw-container div.img-wrapper{
	display: inline-block;
	width: 23.5%;
	height: 350px;
	position: relative;
}

section#works div.fw-container img{
	width: 100%;
	height: 100%;
}

section#works div.fw-container div.img-wrapper:before{
	content: 'Project Name';
	top: 41%;
	left: 36%;
	z-index: 3;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Raleway;
	line-height: 100%;
}

section#works div.fw-container div.img-wrapper:after{
	content: 'User Interface Design';
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	line-height: 350px;
}

section#works div.fw-container div.img-wrapper:before,
section#works div.fw-container div.img-wrapper:after{
	position: absolute;
	display: none;
}

section#works div.fw-container div.img-wrapper:hover:before,
section#works div.fw-container div.img-wrapper:hover:after{
	display: block;
}

section#works div.fw-container div.img-wrapper:hover:after{
	background: rgba(212,64,64, .65);
	z-index: 2;
}

