*{
	margin: 0;
	padding: 0;
}

.half-window{
	width: 45%;
	background-color: white;
}

h1, h2{
	text-align: center;
}

p{
	margin-bottom: 10px;
}

section{
	height: 400px;
	width: 100%;
	margin: 0 auto;
	background-color: black;

	margin-bottom: 50px;
	padding: 12% 0;
	box-sizing: border-box;
}

div{
	height: 100%;
	width: 23%;
	margin-left: 1.5%;
		
	float: left;
	background-color: red;
	box-sizing: border-box;
}

section[task="2.1"]:hover div:nth-child(odd){
	border: 2px solid white;
}

section[task="2.1"]:hover div:nth-child(even){
	background-color: yellow;
}


section[task="2.2"] div:first-child:hover + div{
	background-color: blue;
	border: 5px solid yellow;
}

section[task="2.3"] div:nth-child(2):hover ~ div{
	background-color: blue;
	border: 5px solid yellow;
}

section[task^="3."]{
	position: relative;
	padding: 0px;
}

section[task^="3."] div{
	position: absolute;
	height: 50%;
	top: 25%;
	margin: 0px;
	transition: all .5s;
}

div[order="1"]{
	left: 1.5%;
	background-color: orange;
}

div[order="2"]{
	left: 26%;
	background-color: violet;
}

div[order="3"]{
	left: 50.5%;
	background-color: purple;
}

div[order="4"]{
	left: 75%;
	background-color: lightgreen;
}

section[task="3.1"]:hover div[order="1"]{
	left: 50.5%;
}

section[task="3.1"]:hover div[order="3"]{
	left: 1.5%;
}

section[task="3.2"]:hover div[order="2"]{
	left: 75%;
}

section[task="3.2"]:hover div[order="4"]{
	left: 26%;
}

section[task="3.3"] > div[order="1"]:hover + div[order="2"]{
	left: 50.5%;
}

section[task="3.3"] > div[order="1"]:hover ~ div[order="3"]{
	left: 26%;
}